# Database
DATABASE_URL="postgresql://user:password@host:5432/coremmc?sslmode=require"

# Firebase (Authentication)
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyBW1KUytxrMHY15UaXzcdWbH5Myei44Z2I"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="coremmc-hosting-v1.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="coremmc-hosting-v1"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="coremmc-hosting-v1.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="599224638089"
NEXT_PUBLIC_FIREBASE_APP_ID="1:599224638089:web:843ed93edfa7e49dde4458"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-SX8JKYQW8W"

# Paymenter Billing Panel
NEXT_PUBLIC_PAYMENTER_URL="https://billing.coremmc.cloud"
PAYMENTER_URL="https://billing.coremmc.cloud"
PAYMENTER_API_KEY="PAYM3eac20793e0b8239f96adc0eb8aa79305eb681cd3a707eec1c43eb2eaa1cc177"
